* {
    margin: 0 auto;
    padding: 0 0;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}

.title-bg {
    font-size: 25px;
    background-color: #F2F2F2;
}

.subtitle {
    font-size: 20px;
}

.container {
    padding: 0 0;
}

input {
    border: none;
}

header {
    background-color: #4a90e2;
    /* height: 76px; */
    font-size: 24px;
}

header a {
    color: #00408b;
    box-sizing: border-box;
}

header a:hover {
    color: white;
    border-bottom: #00408B 5px solid;
}

.add-task-head {
    font-size: 28px;
    color: #c8c8c8;
    padding: 18px 0 18px 23px;
    margin-top: 24px;
    background-color: #F2F2F2;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 5px;
}

.add-task-head:hover {
    border: #c8c8c8 2px solid;
    margin-bottom: -4px;
}


.add-task-form {
    max-width: 100%;
    padding: 0 0;
    margin-top: 22px;
    background-color: #F2F2F2;
    border: 1px solid #C8C8C8;
    position: relative;
    display: none;
}

.add-task-title {
    padding: 24px 32px 18px;
    margin: auto;
    position: relative;
}

.title-border {
    border: 1px solid #C8C8C8;
    border-bottom: 3px solid #C8C8C8;
}

.add-task-title-icon {
    font-size: 20px;
    position: absolute;
    right: 24px;
    top: 24px;
}

.icon {
    cursor: pointer;
}

.pen-edit {
    color: blue;
}

.star-bg {
    background-color: #FFF2DC;
}

.add-task-item {
    padding: 25px 0 0 72px;
}

.add-task-item label {
    margin-top: .5rem;
}

.file-span {
    padding-left: 8px;
    font-size: 16px;
    line-height: 32px;
    width: 80px;
    height: 32px;
    background-color: #C8C8C8;
    position: absolute;
    top: 208px;
    left: 72px;
    cursor: pointer;
}

.add-task-save {
    max-width: 620px;
    margin: 16px 0 0;
}

.to-do-item {
    margin: 24px auto;
    max-width: 620px;
    padding: 0 0;
    background-color: #F2F2F2;
    border-radius: 5px;
    position: relative;
}

.icon-list {
    color: #9D9E9F;
    float: left;
    /* margin: 0 24px; */
    padding-left: 85px;
}

.icon-list i {
    padding-right: 10px;
}

.decoration {
    text-decoration: line-through;
    color: gray;
}

input[type=checkbox].css-checkbox {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

input[type=checkbox].css-checkbox+label.css-label {
    padding-left: 30px;
    height: 25px;
    display: inline-block;
    line-height: 28px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 25px;
    vertical-align: middle;
    cursor: pointer;
}

input[type=checkbox].css-checkbox:checked+label.css-label {
    background-position: 0 -25px;
}

label.css-label {
    background-image: url(http://csscheckbox.com/checkboxes/u/csscheckbox_391ce065f36b1460c4845fa9b5173fba.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}